<%-include("./partials/header.ejs")%>
<style>
  /* Remove the spinner controls for number input */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
<body>
  <div
    class="container d-flex justify-content-center align-items-center vh-100"
  >
    <div class="d-block">
      <h2
        class="pb-40 heading_s2 align-items-center justify-content-center text-decoration-underline"
      >
        Email Authentication
      </h2>
      <div>
        <% if(locals.emailAlreadyExist){ %>
        <p class="alert alert-danger">Email already exist</p>
        <% }else if (locals.phoneAlreadyExist){ %>
        <div class="alert alert-danger">phone number already exist</div>
        <%}%>
      </div>
      <form id="userInfoForm" action="/user/sendOtp" method="post">
        <div class="d-block">
          <div class="">
            <label for="email" class="form-label">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              required
            />
            <div class="text-danger" id="validateEmail" style="display: none">
              please enter valid email address
            </div>
          </div>
          <br />
          <div class="">
            <label for="phone" class="form-label">Phone Number:</label>
            <input
              type="number"
              id="phone"
              name="phone"
              class="form-control"
              required
            />
            <div class="text-danger" id="validatePhone" style="display: none">
              please enter valid phone number
            </div>
          </div>
          <br />
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const form = document.getElementById("userInfoForm");
      form.addEventListener("submit", function (event) {
        const email = document.getElementById("email").value;
        const phone = document.getElementById("phone").value;

        const emailV = document.getElementById("validateEmail");
        const phoneV = document.getElementById("validatePhone");

        if (email.trim() === "" || !emailValidation(email)) {
          emailV.style.display = "block";
          event.preventDefault();
        } else {
          emailV.style.display = "none";
        }

        if (phone.trim() === "" || !phoneValidation(phone)) {
          phoneV.style.display = "block";
          event.preventDefault();
        } else {
          phoneV.style.display = "none";
        }
      });
    });

    function emailValidation(email) {
      const pattern = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;
      return pattern.test(email);
    }
    function phoneValidation(phone) {
      const pattern = /^(\+?91)?[6-9]\d{9}$/;
      return pattern.test(phone);
    }
  </script>
  <%-include("./partials/footer.ejs")%>
</body>
