<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <title>VeeLap</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/userassets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/userassets/css/main.css" />
    <!-- <script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  </head>
  <body>
    
    <div class="container  mt-5">
      <div class="row justify-content-center mt-50">
        <div>

        </div >
          <div class="col-lg-5 card" id="outerDiv" style="display: block;">
              <div class="text-center card-header text-center">
                  <h2>Forgot Password</h2>
                  <p class="lead">Enter your email to receive a password reset OTP.</p>
              </div>
              <form>
                  <div class="mb-3 mt-10">
                      <label for="email" class="form-label">Email :</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email...">
                      <p style="display: none;" id="emailVm" class="text-danger">please enter valid email address</p>
                  </div>

                  <div class="d-flex align-items-center justify-content-center mb-15">
                    <button type="button" class="btn btn-primary" onclick="" id="submitB">Send OTP</button>
                  </div>
                  <div class="d-flex justify-content-end">
                    <div id="timer"></div>
                  </div>
              </form>
              <div id="verifyOtpdiv" style="display: none;">
                <form>
                  <div class="mb-3 ">
                      <label for="OTP" class="form-label">OTP Verification</label>
                      <input type="text" class="form-control" id="OTP" name="otp">
                      <p style="display: none;" id="otpVm" class="text-danger">Incorrect OTP</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-20">
                    <button type="button" class="btn btn-primary" onclick="" id="OTPSubmitBtn">Verify OTP</button>
                  </div>
              </form>
              </div>
          </div>
      </div>
  </div>

  <div class="container mt-5" id="passwordCdiv" style="display: none;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-primary shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title">Reset Your Password</h3>
                </div>
                <div class="card-body">
                    <form action="" method="">
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="passwordId" name="password" required>
                            </div>
                            <small
                          class="text-danger"
                          id="validatePasswordMess"
                          style="display: none"
                        >
                          password must contain minimum of 6 characters
                          </small>
                        </div>
                        <div class="mb-3">
                            <label for="confirm-password" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm-password" name="confirmPassword" required>
                            <small id="password-error" class="form-text text-danger"></small>
                        </div>
                        <button type="submit" class="btn btn-primary" id="confirmPasswordSubmit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  
  </body>
  <script>
    const verifyOtpDiv = document.getElementById("verifyOtpdiv")
    const OTPSubmitBtn = document.getElementById("OTPSubmitBtn")
    const passwordResetDiv =  document.getElementById("passwordCdiv")
    const Timer = document.getElementById("timer")
  document.addEventListener("DOMContentLoaded", async function () {
    const submitBtnEmail = document.getElementById("submitB")
    submitBtnEmail.addEventListener("click",async (event)=>{
      const email = document.getElementById("email").value
      // console.log(email);
      const emailVm = document.getElementById("emailVm")
      
      if(email.trim() == "" || !emailValidation(email)){
        emailVm.style.display = "block"
        event.preventDefault();
      } else {
          emailVm.style.display = "none";

            await axios({
              method: 'post',
              url:'/send-otp-forgot',
              data: {
              email: email
              }
            })
            .then(function (response) {
            const data = response.data
            if(data.message){
              Swal.fire({
                title: "veeLap",
                text: data.message,
                icon: "success",
                confirmButtonText: "Ok",
                timer: 3000,
                timerProgressBar: true,
              });
              // send otp to resend otp
              submitBtnEmail.style.display = "none"
              startCountdown()
              Timer.style.display = "block"

              verifyOtpDiv.style.display = "block"
              OTPSubmitBtn.addEventListener("click", async(event)=>{
                const enteredOtp = document.getElementById("OTP").value
                const otpVm = document.getElementById("otpVm")
                // console.log(enteredOtp);
                await axios({
                  method:"post",
                  url:"/verify-forgot-otp",
                  data:{
                    OTP:enteredOtp
                  }
                })
                .then((response)=>{
                  const data = response.data
                  if(data.message){
                    Swal.fire({
                    title: "veeLap",
                    text: data.message,
                    icon: "success",
                    confirmButtonText: "Ok",
                    timer: 3000,
                    timerProgressBar: true,
                  });
                  document.getElementById("outerDiv").style.display = "none";
                  passwordResetDiv.style.display = "block"
                  document.getElementById("confirmPasswordSubmit").addEventListener("click",async(event)=>{
                    event.preventDefault()
                    const newPassword = document.getElementById("passwordId").value
                    const newCPassword = document.getElementById("confirm-password").value
                    if (newPassword === "" && newCPassword === "" || !passwordValidate(newPassword) ) {
                      document.getElementById("validatePasswordMess").style.display = "block";
                      event.preventDefault();
                    } else {
                      document.getElementById("validatePasswordMess").style.display = "none";
                    

                    await axios({
                      method:"post",
                      url:"/reset-password",
                      data:{
                        password:newPassword,
                        confirmPassword:newCPassword,
                        email:email
                      }
                    })
                    .then( (response)=>{
                      const data = response.data
                      if(data.message){
                        Swal.fire({
                        title: "veeLap",
                        text: data.message,
                        icon: "success",
                        confirmButtonText: "Ok",
                        timer: 3000,
                        timerProgressBar: true,
                      })
                      // axios("/user/login")
                      setTimeout(()=>{
                        window.location.href="/login"
                      },3000)
                    }
                    })
                    .catch((error)=>{
                      Swal.fire({
                      title: error.response.data.error,
                      text: "Sorry!!",
                      icon: "error",
                      confirmButtonText: "Ok",
                      timer: 3000,
                      timerProgressBar: true,
                      })
                    })
                  }
                  })
                  }
                })
                .catch((error)=>{
                  Swal.fire({
                    title: error.response.data.error,
                    text: "Sorry!!",
                    icon: "error",
                    confirmButtonText: "Ok",
                    timer: 3000,
                    timerProgressBar: true,
                    });
                })
                })
            }else{
                Swal.fire({
                    title: data.error,
                    text: "Please Signup!!",
                    icon: "error",
                    confirmButtonText: "Ok",
                    timer: 3000,
                    timerProgressBar: true,
                });
            }
            })
            .catch(function (error) {
            console.log(error);
            });
        }
    })

function startCountdown() {
      let remainingTime = 58;

      const countdown = setInterval(() => {
        Timer.innerHTML = `Resent otp: ${remainingTime} sec`;

        remainingTime--;

        if (remainingTime < 0) {
          clearInterval(countdown);
          // console.log("Countdown completed!");
          submitBtnEmail.innerText = "Resent OTP"
          submitBtnEmail.style.display = "block"
          Timer.style.display = "none"
        }
      }, 1000);
    }
 })
function emailValidation(email) {
      const pattern = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;
      return pattern.test(email);
    }

function passwordValidate(password) {
      const minLength = 6;
      return password.length >= minLength;
    }

  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
  <script src="/userassets/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="/userassets/js/vendor/jquery-3.6.0.min.js"></script>
  <script src="/userassets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
  <script src="/userassets/js/vendor/bootstrap.bundle.min.js"></script>
  <script src="/userassets/js/plugins/slick.js"></script>
  <script src="/userassets/js/plugins/jquery.syotimer.min.js"></script>
  <script src="/userassets/js/plugins/wow.js"></script>
  <script src="/userassets/js/plugins/jquery-ui.js"></script>
  <script src="/userassets/js/plugins/perfect-scrollbar.js"></script>
  <script src="/userassets/js/plugins/magnific-popup.js"></script>
  <script src="/userassets/js/plugins/select2.min.js"></script>
  <script src="/userassets/js/plugins/waypoints.js"></script>
  <script src="/userassets/js/plugins/counterup.js"></script>
  <script src="/userassets/js/plugins/jquery.countdown.min.js"></script>
  <script src="/userassets/js/plugins/images-loaded.js"></script>
  <script src="/userassets/js/plugins/isotope.js"></script>
  <script src="/userassets/js/plugins/scrollup.js"></script>
  <script src="/userassets/js/plugins/jquery.vticker-min.js"></script>
  <script src="/userassets/js/plugins/jquery.theia.sticky.js"></script>
  <script src="/userassets/js/plugins/jquery.elevatezoom.js"></script>

  <script src="/userassets/js/main.js"></script>
  <script src="/userassets/js/shop.js"></script>

  
</html>

